<!DOCTYPE HTML>
<HTML lang='PT-BR'>
<HEAD>
	<meta charset='UTF-8'>
	<TITLE>feedback</TITLE>
</HEAD>
<BODY>
	<TABLE width='100%' height='630' border=0>
		<TR height='150'>
			<TD width='20%' align='center'><img src='imagens/logo.png'alt='Imagem contendo o logo da pagina' width='90%'></TD>
			<TD align='center'><img src='imagens/titulo.png'alt='Imagem contendo o titulo da pagina' width='80%'></TD>
		</TR>
		<TR>
			<TD>
				<img src='imagens/menu.png'alt='Imagem contendo o menu de navegação' usemap='#meumenu'>
				<MAP name='menu'>
					<AREA href='index.html' coords='0,1,276,65' alt='Principal'></AREA>
					<AREA href='filmes.html' coords='0,98,276,161' alt='Filmes'></AREA>
					<AREA href='trailer.html' coords='0,194,276,258' alt='Trailer'></AREA>
					<AREA href='feedback.html' coords='0,293,276,355' alt='feedback'></AREA>
				</MAP>
			</TD>
			<TD align='center'>
				<h2><font color='#F163F5' face='Comic Sans MS'>Sua opnião é muito importante para nós!</font></h2>
				<form>
					<table border=1 width='50%'>
						<TR>
							<TD width='20%'><img src='imagens/nome.png'></TD>
							<TD width='30%'><label for='imputNome'><font face='Comic Sans MS'>Nome</font></label></TD>
							<TD><input id='imputNome' type='text' placeholder='Digite seu nome'></TD>
						</TR>
						<TR>
							<TD><img src='imagens/email.png'></TD>
							<TD><label for='imputEmail'><font face='Comic Sans MS'>E-mail</font></label></TD>
							<TD><input id='imputEmail' type='text' placeholder='Digite seu email'></TD>
						</TR>
						<TR align='center'>
							<TD colspan=3><font face='Comic Sans MS'>Recomendaria o filme?</font></label></TD>
						</TR>
						<TR>
							<TD colspan=2 align='center'><img src='imagens/sim.png'><input type='radio' name='opcao' value='sim'></TD>
							<TD align='center'><img src='imagens/nao.png'><input type='radio' name='opcao' value='nao'></TD>
						</TR>
						<TR>
							<TD><img src='imagens/comentarios.png'></TD>
							<TD><label for='textarea'><font face='Comic Sans MS'>Comentários</font></label></TD>
							<TD><input id='textarea' type='text' rows=5 cols=32></TD>
						</TR>
						<TR>
							<TD><img src='imagens/botao.png'></TD>
							<TD><input type='submit' value='Enviar'></TD>
							<TD><button type='reset'>Limpar</button></TD>
						</TR>
					</table>
				</form>
			</TD>
		</TR>
	</TABLE>
</BODY>
</HTML>
