<!DOCTYPE HTML>
<HTML lang='PT-BR'>
<HEAD>
	<meta charset='UTF-8'>
	<TITLE>Trailer</TITLE>
</HEAD>
<BODY>
	<TABLE width='100%' height='630' border=1>
		<TR height='150'>
			<TD width='20%' align='center'><img src='imagens/logo.png'alt='Imagem contendo o logo da pagina' width='90%'></TD>
			<TD align='center'><img src='imagens/titulo.png'alt='Imagem contendo o titulo da pagina' width='80%'></TD>
		</TR>
		<TR>
			<TD>
				<img src='imagens/menu.png'alt='Imagem contendo o menu de navegação' usemap='#meumenu'>
				<MAP name='menu'>
					<AREA href='index.html' coords='0,1,276,65' alt='Principal'></AREA>
					<AREA href='filmes.html' coords='0,98,276,161' alt='Filmes'></AREA>
					<AREA href='trailer.html' coords='0,194,276,258' alt='Trailer'></AREA>
					<AREA href='feedback.html' coords='0,293,276,355' alt='feedback'></AREA>
				</MAP>
			</TD>
			<TD align='center'>
				<iframe width='640' height='390' src='https://www.youtube.com/embed/zl29F2c1Vf0'></iframe>
			</TD>
		</TR>
	</TABLE>
</BODY>
</HTML>
